@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');


.Container{
    display: flex;
    flex-direction: row;
    background-color: #fff;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: #9ab3f5;
    font-family: 'Ubuntu', sans-serif;
}

.wrapper{
    background-color: #f4f2f7;
    margin: 20px auto;
    max-width: 400px;
    padding: 15px 20px;
    border-radius: 10px;
}

h4{
    font-weight: 800;
    color: #888;
}

label{
    font-weight: 700;
    color: #888;
    font-size: 12px;
}

.card-no{
    border: none;
    outline: none;
    width: 90%;
    padding-left: 8px;
}
.form-control{
    outline: none;
    border: none;
    box-shadow:none;
}
.card-number{
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 5px 8px 2px;
}

a{
    font-size: 12px;
    font-weight: 900;
    margin-left: 30%;
}
a{
    text-decoration: none;
}

.form-inline label{
    font-size: 1rem;
}
.focused{
    border: 2px solid #9ab3f5;
}
#form-footer a{
    margin: 0;
}
#form-footer p{
    margin: 0;
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    color: #777;
}
@media(max-width:395px){
    .form-inline label{
        font-size: 12px;
    }
    #form-footer p{
        font-size: 11px;
    }
    .card-no{
        width: 85%;
    }
}
















body{

    background-color: #000;
  }
  
  .padding{
  
    padding: 2rem !important;
  }
  
  .card {
      margin-bottom: 30px;
      border: none;
      -webkit-box-shadow: 0px 1px 2px 1px rgba(154, 154, 204, 0.22);
      -moz-box-shadow: 0px 1px 2px 1px rgba(154, 154, 204, 0.22);
      box-shadow: 0px 1px 2px 1px rgba(154, 154, 204, 0.22);
  }
  
  .card-header {
      background-color: #fff;
      border-bottom: 1px solid #e6e6f2;
  }
  
  h3 {
      font-size: 20px;
  }
  
  h5 {
      font-size: 15px;
      line-height: 26px;
      color: #3d405c;
      margin: 0px 0px 15px 0px;
      font-family: 'Circular Std Medium';
  }
  
  .text-dark {
      color: #3d405c !important;
  }