.Container{
    display: flex;
    flex-wrap: wrap;
    width: 100vw;
}

.Produit{
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 300px;
    border: 10px solid black;
    justify-content: space-around;
    align-items: center;
    border-radius: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: large;
}

.AjoutPanier{
    width: 150px;
    height: 50px;
    border: 2px solid black;
    border-radius: 20px;
    background-color: orange;
}

.ImgProd{
    width: 100px;
    height: 100px;
}

.Produit2{
    display: flex;
    flex-direction: column;
    width: 30%;
    border: 10px solid black;
    justify-content: space-around;
    align-items: center;
    border-radius: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: large;
    margin-top: 50px;
}